@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>You have successfully submitted a suggestion!</h1>
    <h5><a asp-action="Privacy">Click here to see suggestions</a></h5>
    <h5><a asp-action="addsuggest">Click here to add another suggestion</a></h5>
</div>