@{
    ViewData["Title"] = "Top 5 Restaurants";
}

@model IEnumerable<string>

<div class="text-center">
    <header>
        <h1>Top 5 Restaurants in Provo</h1>
    </header>
    <!--display information about restaurants-->
    <ol>
        @foreach (string i in Model)
        {
            <li>@Html.Raw(i)</li>
        }
    </ol>
</div>
