@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Movies";
}

@model IEnumerable<Top5Restaurants.Models.Suggestion>

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Restaurant Name
                </th>
                <th>
                    Favorite Dish
                </th>
                <th>
                    Restaurant Phone #
                </th>
            </tr>
        </thead>
        <tbody>
            <!--Display Suggestions from users-->
            @foreach (Top5Restaurants.Models.Suggestion x in Model)
            {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.RestName</td>
                        <td>@x.FavDish</td>
                        <td>@x.Number</td>
                    </tr>

            }
        </tbody>
    </table>
</div>
